node_modules
.next
.git
.gitignore
data
dev.db
dev.db-journal
dev.db-wal
dev.db-shm
test
*.log
.env
*.patch
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log*
.idea
.vscode
tsconfig.tsbuildinfo
*.tsbuildinfo